{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'com_list.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <div class = 'nav-bar'>
            <div class = 'nav-item'>
                <a href="{% url 'index' %}">
                    <span class="material-icons">home</span>
                </a>
            </div>
            <div class = 'nav-item'>
                <a href="{% url 'search_option' %}">
                    <span class="material-icons">search</span>
                </a>                        
            </div>
            <div class = 'nav-item'>
                <a href="{% url 'com_list' %}">
                    <span class="material-icons">list</span>
                </a>
            </div>
            <div class = 'nav-item'>
                <a href="{% url 'mypage' user.pk %}">
                    <span class="material-icons">person</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>