{% extends 'base.html' %}
{% block title %} Community {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'com_list.css' %}">

<div class='title_a'>
    <p class='ti'># 여운 게시물</p>
</div>


<div class = 'list_a'>
    {% for post in posts %}

    <div class = 'list'>
        <div class = 'title'>
            <a href = "{% url 'com_detail' post.pk %}" style = 'color:black;'> {{post.title}} </a>
            <p>{{post.author}} 의 게시물 </p>
        </div>
    </div>
    {% endfor %}
  
    
    <div class= 'list_c'>
        <a href="{% url 'com_new' %}">작성하기</a>
    </div>
</div>

{% endblock %}