{% extends 'base.html' %}
{% block title %} Community {% endblock %}
{% block content %}
<div class='list_b'>
    {% for post in posts %}
    <div class='list'>
        <div class='list_t'>
            <a href="{% url 'com_detail' post.pk %}" style='color:black;'> {{post.title}} </a>
        </div>
        <div class='list_c'>
            {{post.author}}
            {{post.img}}
        </div>
    </div>
    {% endfor %}
    {% for post in posts %}
    <div>
        <h3>{{ post.title }}</h3>
        <img src="{{ post.img }}" alt="{{ post.title}}">
    </div>
    {% endfor %}
</div>
<div class='list_b'>
    <a href="{% url 'com_new' %}">작성하기</a>
</div>
{% endblock %}