{% extends 'base.html' %}
{% load static %}
{% block title %} My Page {% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}">
    <div class = 'all'>
        <p class = 'top_title'> # 마이페이지 </p>
        <div class ='mypage_box'>
            <div class = 'login'>
                <p class = 't'>내 게시물</p>
                <div class = 't_box'>
                    {% for post in posts %}
                        <a href = "{% url 'com_detail' post.pk %}" style = 'color:black;'> {{post.title}} </a>
                    {% endfor %}
                </div>
            </div>
            <div class = 'login'>
                <p class = 't'>내 스타일</p>
                <div class = 't_box'>
                    {% for mystyle in mystyles %}
                        {{ mystyle.option1 }}
                        {{ mystyle.option2 }}
                    {% endfor %}
                </div>
            </div>
            <div class = 'login'>
                <p class ='t'>내 스타일 바꾸기</p>
                <div class ='t_box'>
                    <div class="stylecontent">
                        <form method = 'POST'>
                            {% csrf_token %}
                            <div class="styleoption">
                                <select name='option1' style="border-radius: 20px;">
                                <option value="hipup">볼륨있는 힙</option>
                                <option value="bigsize">사이즈 업</option>
                                <option value="shortheight">작은 키가 고민인</option>
                                <option value="yzone">와이존 완벽커버</option>
                                </select>
                            </div>
                            <div class="coloroption">
                                <p>어떤 컬러를 선호하시나요?</p>
                                <select name = 'option2' style="border-radius: 20px;">
                                <option class = 'black' value="black"></option>
                                <option class= 'yellow' value="yellow"></option>
                                <option class = 'red' value="red"></option>
                                <option class= 'blue' value="blue"></option>
                                <option class= 'gray' value="gray"></option>
                                </select>
                            </div>
                            <input type="submit" value="제출하기" style="background-color: rgb(255,52,120);">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
